# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/server/dist
/tmp
/server/tmp
/out-tsc
/server/out-tsc

# dependencies
/node_modules
/server/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/server//.sass-cache
/connect.lock
/server/connect.lock
/coverage
/server/coverage
/libpeerconnection.log
/server/libpeerconnection.log
npm-debug.log
/server/npm-debug.log
testem.log
/server/testem.log
/typings
/server/typings

# e2e
/e2e/*.js
/server/e2e/*.js
/e2e/*.map
/server/e2e/*.map

# System Files
.DS_Store
Thumbs.db
